$main-background-color: #242834;
$main-component-color: #B2E01E;
$second-component-color: #C8BBF3;

$main-logo-title-font: 'Heyam';
$main-component-title-font: 'Arial Rounded MT';
$secondary-component-title-font: 'Segoe UI';
$title-font: Arial, Helvetica, sans-serif;

