$main-background-color: #242834;
$main-component-color: #B2E01E;
$second-component-color: #C8BBF3;
$subtitle-color: #E0DFE5;
$subcomponent-background-color: #F5F5F5;
$placeholder-color: #707070;
$main-component-font-color: #242834;
$footer-main-color: #292E3B;
$filter-button-color: #E0DFE5;
$filter-button-color-transparent: #e0dfe537;

$main-logo-title-font: 'Heyam';
$main-component-title-font: 'Arial Rounded MT';
$secondary-component-title-font: 'Segoe UI';
$title-font: Arial, Helvetica, sans-serif;

