@import "../../assets/scss/variable.scss";
@import "../../assets/scss/mixin.scss";

.accueil {
    background-color: $main-background-color;

    &__header {
        border: 1px solid transparent;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &__title, &__search {
            margin-left: 25px;
        }

        &__title {
            font-family: $main-component-title-font;
            line-height: 5px;
            white-space: nowrap;
            font-size: 24px;
            font-weight: 500;
        }

        &__search {
            background-image: url("src/assets/icon/search.svg");
            background-repeat: no-repeat;
            background-position: 10px;
            background-size: 25px 25px;
            width: 300px;
            letter-spacing: 1px;
            padding-left: 40px;
        }
    }
    &__filter {
        height: 15%;
        display: flex;
        align-items: center;
        overflow-x: auto;
        gap: 15px;
    }
    &__display-content {
        border: 1px solid transparent;
        height: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px;
        grid-gap: 115px 0px;
        overflow-y: auto;
    }
}

.acceuil-ion-content {
    --background: transparent;
}

#acceuil {
    &__filter {
        &__one {
            margin-left: 25px;
        }
    }
}