.arrow-button {
    height: 80px;
    width: 80px;
    background-color: #B2E01E;
    border-radius: 50%;
    position: relative;
    margin-left: 70%;

    &__icon {
        color: rgb(0, 0, 0);
        height: 60.71%;
        width: 57.5%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}