@use "../../../assets/scss/mixin.scss" as mixins;
@use "../../../assets/scss/variable.scss" as vars;

.filter-button {
    width: fit-content;
    background-color: #e0dfe537;;
    padding: 15px 25px;
    color: #E0DFE5;

    &--active {
        background-color: #C8BBF3;
        color: #242834;
    }
}